*
!README.md
!LICENSE
!package.json
!clients/nodejs/addon.c
!clients/nodejs/binding.gyp
!clients/nodejs/cli.mjs
!clients/nodejs/lib.cjs
!clients/nodejs/lib.mjs
!clients/nodejs/lib.ts
!clients/bun/lib.cjs
!clients/bun/lib.mjs
!clients/bun/lib.ts
!clients/deno/lib.ts
!clients/deno/mod.ts
!src/parser.c
!src/parser.h
