{erl_opts, [debug_info]}.
{src_dirs, ["src"]}.
{deps, []}.
{plugins, [rebar3_hex]}.
{hex, [
  {doc, #{provider => ex_doc}},
  {licenses, ["MIT"]},
  {links, #{"GitHub" => "https://github.com/ORESoftware/flags-2-env"}},
  {files, ["src/flags2env.erl", "src/flags2env.app.src", "c_src/flags2env_nif.c", "c_src/parser.c", "c_src/parser.h", "rebar.config", "README.md", "LICENSE"]}
]}.
